extends partials/_pug-page.pug

block crumbs
    li Dashboard

block main-body
    -var shouldShowBar = completion !== 9

    .completion-bar(style='display:' + (shouldShowBar ? 'block' : 'none'))
        - var completed  = ((completion/9) * 100)
        - var widthStyle = "width:"+ completed +"%"
        .completion-progress(style=""+widthStyle)
        .completion-message
            span Your profile is
            span.percentage #{ Math.ceil(completed) }%
            span complete.
            a(href="#").btn Complete Profile
    .container#user-dashboard
        .row
            .col-md-3.col-xs-12.remove-padding
                ul.user-nav
                    li(data-for="user-compare" class=comparing ? '' : 'selected')
                        a(href="#") Compare Cars
                    if comparing
                        li(data-for="user-comparing").selected
                            a(href="#") Comparing results
                    li(data-for="user-messages")
                        a(href="#") Messages
                    li(data-for="user-builds")
                        a(href="#") Builds
                    li(data-for="user-interests")
                        a(href="#") Interests
                    li(data-for="user-docs")
                        a(href="#") Docs
                    li(data-for="user-settings")
                        a(href="#") Personal
                    //- li(data-for="user-settings")
                    //-     a(href="#") Settings
            .col-md-9.col-xs-12.dashboard-section
                .selected-item-content#user-docs
                    form#file-uploader.container.row
                        input(type="file" name="files[]" data-multiple-caption="{count} files selected" multiple accept="image/*" hide)
                        .file-section.col-xs-12
                            input(type="button" value="Upload File")#fake-upload-btn
                            span Upload your files here, or simply drag and drop them here
                        .drag-zone(dropable).col-xs-12
                        input(type="submit" value="Submit Files")
                    .already-uploaded-files
                        .uploaded-file.header
                            .index #
                            .name File Name
                            .img Preview
                .selected-item-content#user-messages
                    .messages-section.container
                        .chat-messages
                            table.table
                                thead.thead-dark
                                    tr
                                        th(colspan=2)
                                            h4 Messages
                                        th
                                            input(type="button" value="Open Chat")#open-chat
                                    tr
                                        th From
                                        th Message
                                        th Datetime
                                tbody
                            ul.pagination
                .selected-item-content#user-builds
                  .build-parent-div.col-xs-12.no-padding
                    .builds-list
                      .car-information.col-sm-12.no-padding
                        .builds-container
                        //-   a(href="#")
                        //-     .build-image
                        //-       .build-price $25,502
                        //-       img(src="/image-uploads/ilx.png")
                        //-     .build-specs
                        //-       .builds-child-flex
                        //-         .builds-child-item 2018
                        //-         .builds-child-item Alfas
                        //-         .builds-child-item Romeo 4C Spider
                        //-         .builds-child-item Special Edition Sedan
                        //-       .builds-child-flex
                        //-         .builds-child-item.add-info Additional Options: TIRES: 205/45R17 FR &amp; 235/40R18 RR 3-SEASON | WHEELS: 17" X 7.0" FR &amp; 18" X 8.0" RR SPIDER ALLOY | CARBON FIBER INTERIOR TRIM GROUP Carbon Fiber Cluster Bezel | Carbon Fiber I/P Bezel, Carbon Fiber Air Vents | Carbon Fiber Shift Bezel | BLACK, BLACK LEATHER TRIMMED BUCKET SEATS
                .selected-item-content#user-interests
                .selected-item-content#user-settings
                  .social-cont
                    form#settings-form
                      div#message-social
                        p#message-social-text
                      div.form-group
                        .social-fi
                          label(for='facebook') Facebook
                          input(type='text' placeholder='Facebook' name="facebook" value= currentDetails ? currentDetails.social.facebook : '')
                        .social-fi
                          label(for='instagram') Instagram
                          input(type='text' placeholder='Instagram' name="instagram" value= currentDetails ? currentDetails.social.instagram : '')
                        .social-fi
                          label(for='twitter') Twitter
                          input(type='text' placeholder='Twitter' name="twitter" value=currentDetails ? currentDetails.social.twitter : '')
                      div.form-group
                        .social-fi
                          label(for='name') Name
                          input(type='text' name="name" placeholder='Name' required value=user.name)
                        .social-fi
                          label(for='phone') Phone Number
                          input(type='text' name="phoneNumber" placeholder='Phone Number' required value=user.phoneNumber)
                        .social-fi
                          label(for='address') Address
                          input(type='text' name="street" placeholder='Address' value=currentDetails ? currentDetails.address.street : '')
                        .social-fi
                          label(for='city') City
                          input(type='text' name="city" placeholder='City' value=currentDetails ? currentDetails.address.city : '')
                        .social-fi
                          label(for='state') State
                          input(type='text' name="state" placeholder='State' value=currentDetails ? currentDetails.address.state : '')
                        .social-fi
                          label(for='zip') ZIP Code
                          input(type='text' name="zip" placeholder='ZIP Code' value=currentDetails ? currentDetails.address.zip : '')
                        .social-fi
                          button(id='social-button' type='submit') Save
                .selected-item-content#user-compare(class=comparing ? '' : 'selected')
                    form.row
                        .compare-boxes.row.col-xs-12
                            .comparing-box-a.col-md-6.col-sm-12(data-car='car1')
                                .text-header Main Selection
                                .image-content
                                    if carOpts.carPhoto 
                                        img(src=""+carOpts.carPhoto alt="placeholder")
                                    else
                                        img(src="/assets/images/no-car-selected.png" alt="placeholder")
                                .saved-compare-select
                                    select(name="saved-a")
                                        option(value="none") Select Saved Entry
                                .divider
                                .compare-select-year
                                    select(name="year-a")
                                        option(value="none") Select Year
                                        each y in carOpts.years
                                            option(value=""+y selected=y===carOpts.year ? true : false) #{ y }
                                .compare-select-make
                                    select(name="make-a")
                                        option(value="none") Select Make
                                        if carOpts.make
                                            option(value=""+carOpts.make selected) #{ carOpts.make }
                                .compare-select-model
                                    select(name="model-a")
                                        option(value="none") Select Model
                                        if carOpts.model
                                            option(value=""+carOpts.model selected) #{ carOpts.model }
                                //- .compare-select-trim
                                //-     select(name="trim-a")
                                //-         option(value="none") Select Trim
                            .comparing-box-b.col-md-6.col-sm-12(data-car='car2')
                                .text-header Compare Selection
                                .image-content
                                    img(src="/assets/images/no-car-selected.png" alt="placeholder")
                                .saved-compare-select
                                    select(name="saved-b")
                                        option(value="none") Select Saved Entry
                                .divider
                                .compare-select-year
                                    select(name="year-b")
                                        option(value="none") Select Year
                                        each y in carOpts.years
                                            option(value=""+y) #{ y }
                                .compare-select-make
                                    select(name="make-b")
                                        option(value="none") Select Make
                                .compare-select-model
                                    select(name="model-b")
                                        option(value="none") Select Model
                                //- .compare-select-trim
                                //-     select(name="trim-b")
                                //-         option(value="none") Select Trim
                        .compare-input.col-xs-12.text-center
                            input(type="submit" value="Compare")
                if comparing
                    .selected-item-content#user-comparing.selected
                        include partials/_comparison.pug

block scripts
    script(src="/assets/js/dashboard.js")
    script(src="/assets/js/dashboard-compare.js")
    script(src="/assets/js/dashboard-builds.js")
    script(src="/assets/js/dashboard-docs.js")
    script(src="/assets/js/dashboard-messages.js")
