.car-options-preview.col-md-4
    .img-car
        - var placeholder = img || '/assets/images/car-not-available-placeholder.jpg'
        img(src=placeholder alt='model-preview')
    .details
        .item
            p.title Current Trim:
            span#trim #{ trim }
        .item
            p.title Base MSRP:
            span#msrp $ #{ msrp }
        .item
            p.title Destination:
            span#dest $ #{ dest }
        .item
            p.title Options:
            span#options $ 0
        .item
            p.title MSRP:
            span#invoice $ #{ invoice }
        .item
            div
                small (Images shown may not portray the real vehicle)
